## Date

In [1]:
from datetime import date

In [2]:
d1 = date.today()

print(d1)

print(d1.month, d1.year, d1.day)

print(d1.weekday())

2022-11-06
11 2022 6
6

### Comparison, Addition and Subtraction of Date

**** Comparison gives boolean result.

**** Date addition and subtraction give result as a datetime.timedelta object.

**** The same comparison and add/subtract operation can be used with time objects.

In [8]:
# Examples of above explanation :

d2 = date.today()

d1 = date(2022, 9, 6)

print(d2 - d1)

61 days, 0:00:00

## Time

#### Time object has the following attributes, time(hour,  min,  second, micro second, tzinfo)

#### Use datetime.time to compare time objects : t1 < t2, if t1 occurs before t2

#### Attributes are all optional, so you can just work with hours and minutes if you want.

#### daylight savings is handeled by the time.dst() function (if tzinfo is set)

In [9]:
from datetime import time 

t1 = time(14,25,36,18625)

print(t1)

14:25:36.018625

In [10]:
t2 = time(2,19)

print(t2)

print(t1<t2)

02:19:00
False

## Datetime :

### datetime.datetime combines date and time attributes into a datetime object.

* datetime.datetime(year, month, day, hour, min, sec, microsecond, tzinfo)

* datetime.datetime objects can be used as  dictionary keys.

* includes function: date(), time()

In [11]:
from datetime import datetime

dt1 = datetime(1941,12,7,7,53)

print(dt1)

print(dt1.date())

print(dt1.time())

1941-12-07 07:53:00
1941-12-07
07:53:00

### Use datetime.datetime.now() to get current date and time

In [15]:
from datetime import datetime

dt3 = datetime.now()

print(dt3)
print('-'* 30)

print(dt3.date())
print('-'* 30)

print(dt3.time())
print('-'* 30)

print(dt3.hour, dt3.minute)
print('-'* 30)

print(dt3.hour)
print('-'* 30)

print(dt3.minute)
print('-'* 30)

print(str(dt3.month) + '-' + str(dt3.day) + '-' + str(dt3.year))

2022-11-06 20:49:22.681333
------------------------------
2022-11-06
------------------------------
20:49:22.681333
------------------------------
20 49
------------------------------
20
------------------------------
49
------------------------------
11-6-2022

### Use datetime.strftime() to get names of months and weekdays.

In [17]:
from datetime import datetime

dt3 = datetime.now()

print(dt3.strftime('%A'))

print(dt3.strftime('%a, %A, %B, %b, %x'))

Sunday
Sun, Sunday, November, Nov, 11/06/22

### A timedelta is used for a duration, or the time difference between two dates or times

#### datetime.timedelta(days, seconds, microseconds)

#### A time delta can also be multiplied or divided by an integer or float

In [18]:
from datetime import timedelta, date, time

d1 = date(2021, 6, 15)
d2 = date(2022, 9, 18)

td = d2-d1

print(td, type(td))

print(td.total_seconds())

print(td*3)

460 days, 0:00:00 <class 'datetime.timedelta'>
39744000.0
1380 days, 0:00:00

#### Number of days to an event :

In [20]:
from datetime import datetime

today = datetime.today().date()

my_event = date(2023, 6, 18)

days_to_event = abs(my_event - today)

print(days_to_event.days, 'days to event.')

print(days_to_event, 'days to event.')

224 days to event.
224 days, 0:00:00 days to event.

### Get a UNIX timestamp (time since the epoch)

#### A timestamp is the time since Jan 1 1970 in seconds.

#### Use time.time()to get timestamp.

#### Use datetime.fromtimestamp(ts) and datetime.timestamp(datetime_obj) to convert between timestamp and datetime.

#### Use time.process_time() to get runtime of an operation on your computer.

In [21]:
import time

ts = time.time()

print(ts)

print(time.ctime(ts))

1667753317.9555118
Sun Nov  6 22:18:37 2022

In [22]:
from datetime import datetime

now = datetime.fromtimestamp(ts)

print(now)

print(datetime.timestamp(now))

2022-11-06 22:18:37.955512
1667753317.955512

In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv("flight_price_copy.csv")

In [25]:
df.head()

,Unnamed: 0,Date,Flight name,Source,Destination,Departure_time,Arrival_time,Duration,No of stop,Price
0,0,2022-11-03,IndiGo,Bengaluru,Kolkata,17:30,22:05,4h 35m,1,7579
1,1,2022-11-03,IndiGo,Bengaluru,Kolkata,23:40,04:50,5h 10m,1,7579
2,2,2022-11-03,IndiGo,Bengaluru,Kolkata,18:00,23:15,5h 15m,1,7579
3,3,2022-11-03,IndiGo,Bengaluru,Kolkata,19:15,02:05,6h 50m,1,7579
4,4,2022-11-03,IndiGo,Bengaluru,Kolkata,15:35,22:55,7h 20m,1,7579

In [ ]:
df["Departure_time"] = pd.to_datetime(df["Departure_time"])

In [27]:
t = pd.to_timedelta(df['Duration'])

df['Dur_hrs']=t.dt.components['hours']
df['Dur_mins']=t.dt.components['minutes']

In [28]:
df.head(3)

,Unnamed: 0,Date,Flight name,Source,Destination,Departure_time,Arrival_time,Duration,No of stop,Price,Dur_hrs,Dur_mins
0,0,2022-11-03,IndiGo,Bengaluru,Kolkata,17:30,22:05,4h 35m,1,7579,4,35
1,1,2022-11-03,IndiGo,Bengaluru,Kolkata,23:40,04:50,5h 10m,1,7579,5,10
2,2,2022-11-03,IndiGo,Bengaluru,Kolkata,18:00,23:15,5h 15m,1,7579,5,15