In [11]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [12]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32 (2)\chromedriver.exe")

C:\Users\HP\AppData\Local\Temp\ipykernel_6016\3076882139.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [13]:
url="https://www.paytm.com/"
driver.get(url)

In [14]:
for i in driver.find_elements(By.XPATH, '/html/body/div[1]/div/section[4]/div/div/div/div[2]'):
    i.click()

In [15]:
driver.get("https://paytm.com/flights/flightSearch/DEL-Delhi/BOM-Mumbai/1/0/0/E/2022-11-03")

In [16]:
# driver.close()

In [17]:
urls = []

source = ["BLR-Bengaluru","DEL-Delhi"]
desti = ["CCU-Kolkata","BOM-Mumbai","MAA-Chennai","HYD-Hyderabad"]

# passing random date on which flight is schedule:

dates = ["2022-11-03","2022-11-04","2022-12-05","2022-11-08","2022-12-03","2022-11-15","2022-11-24","2022-11-28","2022-12-09","2022-12-15"]

for a in range(0,2):
    for b in range(0,4):
            for c in range(0,10):
                url="https://paytm.com/flights/flightSearch/"+source[a]+"/"+desti[b]+"/1/0/0/E/"+dates[c] #as url is a string we can manipulate it and make changes according to our needs
                urls.append(url)

In [18]:
len(urls)

80

In [19]:
# making list of features i am going to fetch 
name=[]
departure_time=[]
arrival_time=[]
duration=[]
price=[]
stop=[]
place=[]
date=[]
for url in urls:
    driver.get(url)
    time.sleep(5)
    
    for x in driver.find_elements(By.XPATH, '//div[@class="_3H-S _1Eia"]'):
        name.append(x.text)
            
    for y in driver.find_elements(By.XPATH, '//div[@class="_3H-S"]'):
        departure_time.append(y.text)
        
    for d in driver.find_elements(By.XPATH, '//div[@class="_3H-S _1wD5"]'):
        arrival_time.append(d.text.split("\n")[0])
        
    for e in driver.find_elements(By.XPATH, '//div[@class="vY4t"]'):
        duration.append(e.text)
        
    for f in driver.find_elements(By.XPATH, '//div[@class="_1cxG"]'):
        price.append(int(f.text.replace(",","")))
        
    for g in driver.find_elements(By.XPATH, '//div[@class="_7BOG"]'):
        stop.append(g.text.split()[0])
        
    for h in driver.find_elements(By.XPATH, '//div[@class="NqXj"]'):
        place.append(h.text)
        
    for i in range(0,len(driver.find_elements(By.XPATH, '//div[@class="_1cxG"]'))):
               date.append(url.split('/')[11])

In [20]:
source=place[0::2]
destination=place[1::2]

In [21]:
print(len(arrival_time),len(duration),len(price),len(name),len(departure_time),len(source),len(destination),len(date))

10039 10039 10039 10039 10039 10039 10039 10039

In [22]:
# this is the dataframe i have fetched
flights=pd.DataFrame({"Date":date,"Flight name":name,"Source":source,"Destination":destination,"Departure_time":departure_time,
                    "Arrival_time":arrival_time,"Duration":duration,"No of stop":stop,"Price":price})

In [23]:
flights

,Date,Flight name,Source,Destination,Departure_time,Arrival_time,Duration,No of stop,Price
0,2022-11-03,IndiGo,Bengaluru,Kolkata,17:30,22:05,4h 35m,1,7579
1,2022-11-03,IndiGo,Bengaluru,Kolkata,23:40,04:50,5h 10m,1,7579
2,2022-11-03,IndiGo,Bengaluru,Kolkata,18:00,23:15,5h 15m,1,7579
3,2022-11-03,IndiGo,Bengaluru,Kolkata,19:15,02:05,6h 50m,1,7579
4,2022-11-03,IndiGo,Bengaluru,Kolkata,15:35,22:55,7h 20m,1,7579
...,...,...,...,...,...,...,...,...,...
10034,2022-12-15,Air India,Delhi,Hyderabad,12:10,21:15,9h 5m,1,13725
10035,2022-12-15,Air Asia,Delhi,Hyderabad,13:35,20:25,6h 50m,2,15745
10036,2022-12-15,Air Asia,Delhi,Hyderabad,13:35,21:05,7h 30m,2,15745
10037,2022-12-15,IndiGo,Delhi,Hyderabad,17:30,23:10,5h 40m,1,18397
10038,2022-12-15,IndiGo,Delhi,Hyderabad,12:55,19:15,6h 20m,1,19657

In [24]:
flights.to_csv("flight_price_copy.csv")

In [26]:
flights.head(20)

,Date,Flight name,Source,Destination,Departure_time,Arrival_time,Duration,No of stop,Price
0,2022-11-03,IndiGo,Bengaluru,Kolkata,17:30,22:05,4h 35m,1,7579
1,2022-11-03,IndiGo,Bengaluru,Kolkata,23:40,04:50,5h 10m,1,7579
2,2022-11-03,IndiGo,Bengaluru,Kolkata,18:00,23:15,5h 15m,1,7579
3,2022-11-03,IndiGo,Bengaluru,Kolkata,19:15,02:05,6h 50m,1,7579
4,2022-11-03,IndiGo,Bengaluru,Kolkata,15:35,22:55,7h 20m,1,7579
5,2022-11-03,IndiGo,Bengaluru,Kolkata,16:25,22:05,5h 40m,1,7926
6,2022-11-03,Go First,Bengaluru,Kolkata,22:00,07:45,9h 45m,1,8419
7,2022-11-03,SpiceJet,Bengaluru,Kolkata,19:30,22:10,2h 40m,Non,8419
8,2022-11-03,IndiGo,Bengaluru,Kolkata,23:30,01:55,2h 25m,Non,8419
9,2022-11-03,IndiGo,Bengaluru,Kolkata,22:00,00:25,2h 25m,Non,8419
10,2022-11-03,IndiGo,Bengaluru,Kolkata,16:15,18:50,2h 35m,Non,8419
11,2022-11-03,IndiGo,Bengaluru,Kolkata,20:15,22:55,2h 40m,Non,8419
12,2022-11-03,Air Asia,Bengaluru,Kolkata,17:40,20:10,2h 30m,Non,8419
13,2022-11-03,Air Asia,Bengaluru,Kolkata,18:55,21:30,2h 35m,Non,8419
14,2022-11-03,IndiGo,Bengaluru,Kolkata,19:25,01:05,5h 40m,1,8477
15,2022-11-03,IndiGo,Bengaluru,Kolkata,18:00,01:05,7h 5m,1,8477
16,2022-11-03,IndiGo,Bengaluru,Kolkata,14:00,16:35,2h 35m,Non,8944
17,2022-11-03,IndiGo,Bengaluru,Kolkata,18:10,23:55,5h 45m,1,10027
18,2022-11-03,IndiGo,Bengaluru,Kolkata,17:25,22:25,5h,1,10272
19,2022-11-03,IndiGo,Bengaluru,Kolkata,14:40,20:30,5h 50m,1,10272